In [1]:
import pandas as pd
import numpy as np

In [2]:
path2015= r"F:\What-Makes-a-Country-Happy\Data\2015.csv"
 # Load dataset
df2015 = pd.read_csv(path2015)
df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [3]:
# Rename the columns
df2015["Year"] = 2015
df2015 = df2015.rename(columns={
    "Family": "Social Support",
    "Economy (GDP per Capita)": "Economy",
    "Health (Life Expectancy)": "Life Expectancy",
    "Trust (Government Corruption)": "Trust On Govt"
})
df2015=df2015.drop(columns=["Standard Error"])
df2015.head()

,Country,Region,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Trust On Govt,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [4]:
path2016= r"F:\What-Makes-a-Country-Happy\Data\2016.csv"
# Load dataset
df2016 = pd.read_csv(path2016)
df2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [5]:
# Rename the columns
df2016["Year"] = 2016
df2016 = df2016.rename(columns={
    "Family": "Social Support",
    "Economy (GDP per Capita)": "Economy",
    "Health (Life Expectancy)": "Life Expectancy",
    "Trust (Government Corruption)": "Trust On Govt"
})
df2016=df2016.drop(columns=["Lower Confidence Interval","Upper Confidence Interval"])
df2016.head()

,Country,Region,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Trust On Govt,Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [6]:

path2017= r"F:\What-Makes-a-Country-Happy\Data\2017.csv"
# Load dataset
df2017 = pd.read_csv(path2017)
df2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [7]:

# Add a new column with null (NaN) values
df2017["Year"] = 2017
df2017["Region"] = np.nan
# Rename the columns
df2017 = df2017.rename(columns={
    "Happiness.Rank":"Happiness Rank",
    "Happiness.Score":"Happiness Score",
    "Economy..GDP.per.Capita.":"Economy",
    "Family": "Social Support",
    "Health..Life.Expectancy.": "Life Expectancy",
    "Trust..Government.Corruption.": "Trust On Govt",
    "Dystopia.Residual":"Dystopia Residual"
})
df2017=df2017.drop(columns=["Whisker.high","Whisker.low"])
df2017.head()

,Country,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Generosity,Trust On Govt,Dystopia Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,NaN
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,NaN
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,NaN
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,NaN
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,NaN

In [8]:
path2018= r"F:\What-Makes-a-Country-Happy\Data\2018.csv"
# Load dataset
df2018 = pd.read_csv(path2018)
df2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [9]:
# Drop the column
df2018["Year"] = 2018
# Add a new column with null (NaN) values
df2018["Region"] = np.nan
df2018["Dystopia Residual"] = np.nan
# Rename the columns
df2018 = df2018.rename(columns={
    "Country or region":"Country",
    "Overall rank":"Happiness Rank",
    "Score":"Happiness Score",
    "GDP per capita":"Economy",
    "Social support": "Social Support",
    "Healthy life expectancy": "Life Expectancy",
    "Freedom to make life choices":"Freedom",
    "Perceptions of corruption": "Trust On Govt"
   })

df2018.head()

,Happiness Rank,Country,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Generosity,Trust On Govt,Year,Region,Dystopia Residual
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,NaN,NaN
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,NaN,NaN
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,NaN,NaN
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,NaN,NaN
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,NaN,NaN

In [10]:

path2019= r"F:\What-Makes-a-Country-Happy\Data\2019.csv"
# Load dataset
df2019 = pd.read_csv(path2019)
df2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [11]:
# Drop the column
df2019["Year"] = 2019
# Add a new column with null (NaN) values
df2019["Region"] = np.nan
df2019["Dystopia Residual"] = np.nan
# Rename the columns
df2019 = df2019.rename(columns={
    "Country or region":"Country",
    "Overall rank":"Happiness Rank",
    "Score":"Happiness Score",
    "GDP per capita":"Economy",
    "Social support": "Social Support",
    "Healthy life expectancy": "Life Expectancy",
    "Freedom to make life choices":"Freedom",
    "Perceptions of corruption": "Trust On Govt"
   
})

df2019.head()

,Happiness Rank,Country,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Generosity,Trust On Govt,Year,Region,Dystopia Residual
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,NaN,NaN
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,NaN,NaN
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,NaN,NaN
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,NaN,NaN
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,NaN,NaN

In [12]:
# Merge (concatenate) all into a single dataframe
final_df = pd.concat([df2015, df2016, df2017, df2018, df2019], ignore_index=True)

final_df

,Country,Region,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Trust On Govt,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019
778,Tanzania,NaN,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019
779,Afghanistan,NaN,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019
780,Central African Republic,NaN,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019
781,South Sudan,NaN,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019

In [13]:
# Group by Country and count rows in each group
country_counts = final_df.groupby("Country").size().reset_index(name="Count")
country_counts

         Country  Count
0    Afghanistan      5
1        Albania      5
2        Algeria      5
3         Angola      4
4      Argentina      5
..           ...    ...
165    Venezuela      5
166      Vietnam      5
167        Yemen      5
168       Zambia      5
169     Zimbabwe      5

[170 rows x 2 columns]

In [14]:
# Step 1: Count countries
country_counts = final_df["Country"].value_counts()

# Step 2: Keep only countries with count = 5
valid_countries = country_counts[country_counts == 5].index

# Step 3: Filter the dataframe
filtered_df = final_df[final_df["Country"].isin(valid_countries)]
filtered_df

,Country,Region,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Trust On Govt,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
775,Malawi,NaN,150,3.410,0.19100,0.56000,0.49500,0.44300,0.08900,0.21800,NaN,2019
776,Yemen,NaN,151,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800,NaN,2019
777,Rwanda,NaN,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019
778,Tanzania,NaN,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019
779,Afghanistan,NaN,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019

In [15]:
filtered_df.isnull().sum()

Country                0
Region               423
Happiness Rank         0
Happiness Score        0
Economy                0
Social Support         0
Life Expectancy        0
Freedom                0
Trust On Govt          1
Generosity             0
Dystopia Residual    282
Year                   0
dtype: int64

In [16]:
filtered_df["Trust On Govt"] = filtered_df["Trust On Govt"].fillna(filtered_df["Trust On Govt"].median())

C:\Users\ATANU MANNA\AppData\Local\Temp\ipykernel_11428\2860857863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["Trust On Govt"] = filtered_df["Trust On Govt"].fillna(filtered_df["Trust On Govt"].median())

In [17]:
filtered_df.isnull().sum()

Country                0
Region               423
Happiness Rank         0
Happiness Score        0
Economy                0
Social Support         0
Life Expectancy        0
Freedom                0
Trust On Govt          0
Generosity             0
Dystopia Residual    282
Year                   0
dtype: int64

In [18]:


# Fill missing Region values by grouping on Country
region_map = (
    filtered_df.groupby("Country")["Region"]
    .apply(lambda x: x.dropna().iloc[0] if x.notna().any() else None)
)

filtered_df["Region"] = filtered_df.apply(
    lambda row: region_map[row["Country"]] if pd.isna(row["Region"]) else row["Region"],
    axis=1
)

C:\Users\ATANU MANNA\AppData\Local\Temp\ipykernel_11428\1259416051.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["Region"] = filtered_df.apply(

In [19]:
filtered_df.isnull().sum()

Country                0
Region                 0
Happiness Rank         0
Happiness Score        0
Economy                0
Social Support         0
Life Expectancy        0
Freedom                0
Trust On Govt          0
Generosity             0
Dystopia Residual    282
Year                   0
dtype: int64

In [20]:
# Fill missing Dystopia Residual
columns_to_sum = ["Economy", "Social Support", "Life Expectancy", "Freedom", "Generosity","Trust On Govt"]

filtered_df["Dystopia Residual"] = filtered_df.apply(
    lambda row: row["Happiness Score"] - row[columns_to_sum].sum() 
                if pd.isna(row["Dystopia Residual"]) else row["Dystopia Residual"],
    axis=1
)
filtered_df.isnull().sum()

C:\Users\ATANU MANNA\AppData\Local\Temp\ipykernel_11428\1077748630.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["Dystopia Residual"] = filtered_df.apply(

Country              0
Region               0
Happiness Rank       0
Happiness Score      0
Economy              0
Social Support       0
Life Expectancy      0
Freedom              0
Trust On Govt        0
Generosity           0
Dystopia Residual    0
Year                 0
dtype: int64

In [21]:
filtered_df.to_csv("Cleand_Dataset_World_Happiness.csv",index=False)